.ow-break-word {
    height: 30px;
    overflow-wrap: anywhere;
    width: 13em;
    margin: 2px;
}

.btn-right {
    position: absolute;
    top: 16px;
    right: 16px;
    margin-left: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
