.heading {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding: 10px 10px;
}

.subheading {
    padding-left: 20px;
    font-size: 16px;
    padding: 5px 10px;
    color: blue;
    font-style: italic
}