td {
  padding: 20px;
}

.left-column {
  width: 25%;
  background-color: lightblue;
  vertical-align: top;
}

.right-column {
  width: 75%;
  background-color: lightgray;
  vertical-align: top;
  height: 100vh;
  overflow: auto;
}

.left {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.right {
  flex: 4;
  height: 100%;
  overflow: auto;
}

.body-content {
  margin: 0;
  height: 100vh;
  display: flex;
}