.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 8px;
    padding: 16px;
    text-align: center;
}

.card img {
    max-width: 100%;
    margin-bottom: 16px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.top-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/top-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

.kedhas {
    font-size: 50px;
    color: white;
}